NODE_ENV=development
PORT=4000
MONGODB_URI=mongodb+srv://laiba1078:135792468@cluster0.chl7cap.mongodb.net/
JWT_SECRET=2876a0c617b24146b2eb7581abcf7e3fcb5bc9cbb7d3ed608ab5bc4f3fc8124cdd84d70a29dcddc7c548dccfc8d64d53
JWT_EXPIRES_IN=7d
CLIENT_URL=https://lily-resume-ai-generate.vercel.app


STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=pk_test_51UD0xQFDT1MVtyRVA97p7WlzegISoxrTesvcE16I76dTEwH5m2hk6XtfW0NvzG32jAiy7HFOU70mjNH5ZG71zhaB00wk8WvPex


SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=laibariaz1078@gmail.com
SMTP_PASS=symruajxzrkdnuzj
SMTP_FROM=laibariaz1078@gmail.com
PASSWORD_RESET_URL=https://lily-resume-ai-generate.vercel.app/reset-password


# AI credentials 
AI_PROVIDER=openai
AI_API_KEY=
AI_MODEL=
FREE_AI_MONTHLY_LIMIT=50
PREMIUM_AI_MONTHLY_LIMIT=1000
